.Product {
  border: 1px solid #ccc;
  padding: 10px 40px;
  display: flex;
  min-width: 800px;
  margin: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
}
.button {
  padding: 0 20px;
}
.inc {
  padding: 15px 10px;
  margin: 0 10px;
  border: rgb(119, 69, 201) 1px solid;
  border-radius: 5px;
}
input {
  border-radius: 5px;
}
.remove {
  border-color: red !important;
  color: red;
}
