.filter {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  align-items: center;
  margin: 20px auto;
}
.select {
  width: 200px;
}
.selectcontainer {
  display: flex;
  align-items: center;
}
.selectcontainer span {
  display: block;
  margin-right: 1rem;
}
